{% extends 'owaste/base.html' %}
{% block content %}

<style>
.line_limit {
  width:250px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  display:inline-block;
}
</style>

      <!-- content 시작 -->


        <br>
        <h2 style="text-align:center;color:#3498DB;">캠페인 정보를 확인해보세요!</h2>
        <h5 style="text-align:center;color:#9E9E9E;">지금 바로 당신이 참여할 수 있는 캠페인을 보여드립니다!</h5>

      <section class="py-5 text-center container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for x in campaign_list %}
        <div class="col">
            <div class="card" style="width: 20rem;">
              <br>
                <a href="{{ x.link }}" ><img src="{{ x.img }}" style="height: 200px; width:auto;"  class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="line_limit">{{ x.name }}</h5>
              <p class="card-text">기간: {{ x.start |date:"Y-m-d"}} ~ {{ x.finish |date:"Y-m-d"}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted" ><a href="{{ x.link }}" style="text-decoration:none">더 알아보기</a></small>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
     <!-- content 끝 -->

 {% endblock content %}