{% extends 'owaste/base.html' %}
{% block content %}
{% load django_bootstrap5 %}

      <!-- content 시작 -->


      <br>
      <h2 style="text-align:center;color:#3498DB;">리뷰 수정 페이지입니다.</h2>

      <!--테이블 시작-->
<table style="width:40%; height: 100px; margin: auto; text-align: left;">
  <tr>
    <td>
<br>
<form action="" method="post" class="mb-3 row">
  {% csrf_token %}
  {% comment %} <div class="container-fluid row justify-content-center align-items-center"> {% endcomment %}
  <div class="justify-content-center">
    <table>
      {% bootstrap_form form %}
    </table>
  </div>  
  <input type="submit" value="수정" class="btn btn-primary rounded-pill btn-block shadow-sm"/>
</form>

</td>
</tr>
</table>

{% endblock %}
