{% extends "owaste/base.html" %}

{% block content %}
<style>
    #lf {
        text-align: center
    }
    #btn {
        display :inline-block
    }
    
    a:hover {
        text-decoration: none;
        color: black;
    }
    
    a:active {
        text-decoration: none;
        color: black;
    }
</style>

<h1 style="text-align:center;color:#3498DB;">회원정보</h1>
<img src = "/static/img/profileimg.jpeg" style="width:20%; margin-left: auto; margin-right: auto; display: block;" />
<div id = "lf" class="d-grid gap-2 col-1 mx-auto">
    <a id="btn" href="{% url 'common:change_password' %}"><button class="btn btn-primary" type="button">비밀번호 변경</button></a>
    <a id="btn" href="{% url 'common:delete_success' %}"><button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" >회원 탈퇴</button></a>
<br />
</div>

<table style="width:40%; height: 100px; margin: auto; text-align: center;">
    <tr>
      <td align=left style="width:60%;">

<div class="card w-100">
    <div class="card-body">
        {% for shop, review_list in myreview_dict.items %}
        <a href="{% url 'shop_detail' shop.id %}" style="text-decoration:none">
            <h3><span style="color:#3498DB">{{ shop.name }}</span></h3>
            <span style="color:#9E9E9E">{% for review in review_list %}
                {{ review }}
                <br >
            {% endfor %}</span>
            <hr>
        {% endfor %}
        </a>
    </div>
</div>

</td>
</tr>
</table>
<br>

{% endblock %}